<div class="container p-5 my-5 shadow-lg" >
      <h3 class="border-bottom  ">
        Update Product
      </h3>
        <form (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="name">Name :</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="Product.NomProduit" name="name">
      </div>
      <div class="form-group">
        <label for="name">Prix :</label>
        <input type="number" class="form-control" id="email" [(ngModel)]="Product.prixProduit" name="email">      
      </div>
      <div class="form-group">
        <label for="name">Description :</label>
        <input type="text" class="form-control" id="phone" [(ngModel)]="Product.descriptionProduit" name="phone">      
      </div>
      <button style='margin-right:16px' class="btn btn-success">Submit</button>
      <button style='margin-right:16px' (click)="list()" class="btn btn-success">Back to Products</button>
      
      </form>
    
</div>